pre {
  &.pony-full-source {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;

    code {
      &.pony-full-source {
        margin-left: 28px;
        display: block;
        padding: 12px 24px;
        overflow-y: auto;
        font-weight: 300;
        border: none;
        font-family: $code-font-family
      }

      &.code-line-numbers {
        width: 35px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 2px 18px 0;
        border-right: 1px solid #C3CCD0;
        border-radius: 3px 0 0 3px;
        background-color: #EEE;
        text-align: right;
        font-family: $code-font-family;
        color: #AAA;

        .code-line-number {
          padding: 0px 5px;
          border: 0px;
          background-color: #EEE;

          a:target {
            font-weight: bold;
            color: $nav-link-color-alt;
            border: none;
            text-decoration: none;
            outline: none;
          }
        }
      }
    }
  }
}


.source-link {
  a {
    font-size: 50%;
  }
}

// backward compatible rule for the hidden attribute
[hidden] { display: none; }