pre {
  &.pony-full-source {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;

    code {
      &.pony-full-source {
        margin-left: 28px;
        display: block;
        padding: 12px 24px;
        overflow-y: auto;
        font-weight: 300;
        border: none;
        font-family: $code-font-family
      }

      &.code-line-numbers {
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 2px 12px 0;
        border-right: 1px solid #C3CCD0;
        border-radius: 3px 0 0 3px;
        background-color: #EEE;
        text-align: right;
        font-family: $code-font-family;
        color: #AAA;

        .code-line-number {
          padding: 0px 5px;
          border: 0px;
          background-color: #EEE;
          overflow: hidden;

          a {
            &:visited, &:target {
              color: #2980B9;
              border: none;
              text-decoration: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}

h1, h3, h5 {
  // make it possible to display the source link next to headings
  display: inline-block;
}

h5 {
  // looks better for empty field docstring
  margin-bottom: 1em;
}

.source-link-container {
  display: inline-block;
  margin-left: 0.5em;
  margin-bottom: 0px;

  span.source-link {
    font-family: $custom-font-family;
    font-size: 0.8em;
  }
}

// backward compatible rule for the hidden attribute
[hidden] { display: none; }
