recursive-include mkdocs_ponylang *.ico *.js *.css *.png *.html *.eot *.svg *.ttf *.woff
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude src
recursive-exclude node_modules webpack.config.js yarn.lock package.json
